body{
	background: grey;
}
table{
	
}
.main{
	background: white;
	display: flex;
	justify-content: space-around;
	margin: 5%;
}
.left{
	background-color: orange;
	margin: 4%;
	height: 5%;
	width: 25%;
	height: 420px;
	border-radius: 5%;
	text-align: center;
	box-shadow: 4px 4px 0 0;
}
.right{
	background-color: yellow;
	margin: 4%;
	padding: 2%;
	text-indent: 10px;
	border-radius: 5%;
	box-shadow: 4px 4px 0 0;
	width: 60%;
	height: 800px;
}
.table1{
	border-right: 50px;
}
img{ 
	width: 50%;
	margin: 5%;
	border-radius: 10%
}

/*this is mob view*/
@media screen and (min-width: 320px) and (max-width: 480px) {
	body{
	background: #007980;
}

.main{
	background: maroon;
	display: inline-block;
	justify-content: space-around;
	margin: 5%;
}
.left{
	background-color: pink;
	margin: 3%;
	width: auto;
	width: 94%;
	height: 96%;
	border-radius: 5%;
	text-align: center;
	box-shadow: 4px 4px 0 0;
}
.right{
	background-color: pink;
	margin: 3%;
	/*text-indent: 10px;*/
	border-radius: 5%;
	box-shadow: 4px 4px 0 0;
	width: auto;
	height: auto;
	word-wrap: break-word;
}
table{
	border-right: 50px;
	overflow-x: auto;
}

}
img{ 
	width: 50%;
	margin: 5%;
	border-radius: 10%
}


	}

/*this is tab view*/
@media screen and (min-width: 481px) and (max-width: 720px) {
	body{
	background: #007980;
}
/*table{
	overflow-x:auto; 
}*/
.main{
	background: maroon;
	display: inline-block;
	justify-content: space-around;
	margin: 5%;
}
.left{
	background-color: pink;
	margin: 3%;
	width: auto;
	/*width: 94%;*/
	height: 450px;
	border-radius: 5%;
	text-align: center;
	box-shadow: 4px 4px 0 0;
}
.right{
	background-color: pink;
	margin: 3%;
	/*text-indent: 10px;*/
	border-radius: 5%;
	box-shadow: 4px 4px 0 0;
	width: 90%;
	height: auto;
	word-wrap: break-word;
}
table{
	border-right: 50px;
	overflow-x: auto
	
}
img{ 
	width: 50%;
	margin: 5%;
	border-radius: 10%
}


	}